.footer-container {
  width: 100%;
  background: #363636;
  color: #fff;
  padding: 40px 0px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-section {
  width: 200px;
  margin-left: 100px;
}

.footer-section h3 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #b4c7ff;
}

.footer-section a {
  display: block;
  text-decoration: none;
  color: #ddd;
  margin-bottom: 6px;
  font-size: 14px;
}

.footer-section a:hover {
  color: #fff;
}

.footer-copy {
  color: #aaa;
  font-size: 10px;
}
