/* Layout */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Top banner */
.ad-top {
  width: 100%;
  padding: 8px 0;
  display: flex;
  justify-content: center;
}
h2 {
    display: block;
    color: #323232;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

/* Bottom banner */
.ad-bottom {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

/* Main content layout */
.main-layout {
  display: flex;
  margin-top: 20px;
  width: 100%;
  justify-content: center;
}

/* Side banners */
.side-banner {
  width: 160px;
  height: 600px;
  margin: 0 10px;
  position: sticky;
  top: 20px;
  display: flex;
  justify-content: center;
}

/* Center content box */
.center-box {
  width: 70%;
  height: auto;
  max-width: 800px;
  text-align: center;
}

/* Drag & Drop Area */
.drop-zone {
  margin-top: 20px;
  padding: 30px;
  border: 2px dashed #777;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.drop-zone:hover {
  background: #f0f0f0;
}

.preview-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  margin-top: 20px;
}

.preview-item {
  position: relative;
  background: #f8f8f8;
  padding: 8px;
  border-radius: 8px;
  text-align: center;
  font-size: 12px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.176);
}

.preview-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;

}

.preview-filename {
  margin: 4px 0;
  font-size: 12px;
  word-break: break-all;
}

.convert-btn {
  margin-top: 6px;
  padding: 6px 12px;
  font-size: 12px;
  background-color: #497887;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.convert-btn:hover {
  background-color: #225565;
}

.remove-btn {
  position: absolute;
  top: 4px;
  right: 4px;
  background: #848484e6;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
}

.remove-btn:hover {
  background: #5b5b5b;
}
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.2; }
  100% { opacity: 1; }
}

.blink-text {
  animation: blink 2s infinite;
  font-weight: bold;
  color: #2d85ce; /* you can change color */
}


/* Mobile support */
@media (max-width: 900px) {
  .side-banner {
    display: none;
  }
  .center-box {
    width: 90%;
  }
}
@media (max-width: 600px) {
  .drop-zone {
    padding: 20px;
  }
  .preview-img {
    width: 100%;
  }
}
.long {
    line-height: 1.4;
    font-size: 1em;
    padding: 0px 200px;
}
.long-p {
    margin: 1em 0 1em 0;
}
.long-h1 {
    font-size: 1.4em;
    text-align: left;
    color: #38404b;
    border-bottom: 2px solid #F2F2F2;
}
.horizontal-ad {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 728px;
    height: 90px;
}
.header__list {
    list-style: none;
    counter-reset: line;
}

.header__list-item:not(:last-child) {
    margin-bottom: .3em;
}

.header__list-item {
    position: relative;
    counter-increment: line;
    padding-left: 1.5em;
}
.header__list-item:before {
    content: counter(line);
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1em;
    border-right: 2px solid #F2F2F2;
    color: #9ca0a5;
    width: .9em;
    padding-right: 0.35em;
    text-align: right;
    line-height: 1.1;
    height: 100%;
}
.header__text {
    line-height: 1.4;
    font-size: 1.07em;
}
.switch-tool-btn {
    display: inline-block;
    margin-top: 12px;
    width: 90px;
    height: 16px;
    padding: 6px 6px;
    background: #007bff;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s;
}
::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: auto !important;
}
.main-layout {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.side-banner {
  width: 160px; /* Google ad width */
  min-height: 600px;
  
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.main-content {
  flex: 1;
  max-width: 800px;
}


.switch-tool-btn:hover {
  background: #005ad5;
}
.quality-box {
  margin: 15px 0;
  padding: 10px;
  background: #f3f3f3;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.quality-box input {
  width: 150px;
}
.button-container {
    display: grid;
    grid-gap: 6px;
    grid-auto-flow: column;
    color: #ffffff;
    margin-bottom: 6px;
    font-size: 12px;
    margin-top: 15px;
    width: 63px;
    height: 16px;
    padding: 6px 6px;
}